# Reference https://mybinder.readthedocs.io/en/latest/howto/gh-actions-badges.html
name: Test this PR on Binde
on:
  workflow_call:
    inputs:
      pr_head_ref:
        type: string
      pr_head_userrepo:
        type: string
      pr_number:
        type: number
    secrets: {}

permissions:
  pull-requests:
    write

jobs:
  binder:
    runs-on: ubuntu-latest
    steps:
      - name: Comment on PR with Binder link
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: ${{ inputs.pr_number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/${{ inputs.pr_head_userrepo }}/${{ inputs.pr_head_ref }}) :point_left: Test this PR on Binder`
            })
