name: YAML Lint

on:
  workflow_call:
    inputs: {}
    secrets: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Install yamllint
        run: pip install yamllint==1.38.0

      - name: Lint YAML files
        run: yamllint --no-warnings .